.btn {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  text-align: center;
  color: $white;
  text-transform: capitalize;
  backdrop-filter: blur(31px);
  border-radius: $border-radius;
  border: 2px solid $dark-blue;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $dark-blue;
  }

  &--reset {
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--snow {
    @include svg('./assets/svg/snow.svg');

    width: 36px;
    height: 36px;
    border: none;

    &:hover {
      transform: scale(1.15);
      filter: none;
    }
  }

  &--music {
    @include svg('./assets/svg/audio.svg');

    width: 36px;
    height: 36px;
    border: none;

    &:hover {
      transform: scale(1.15);
      filter: none;
    }
  }

  &--tree {
    min-height: 60px;

    &:hover {
      transform: scale(1.15);
      filter: none;
    }

    &:nth-of-type(1) {
      @include svg('./assets/tree/1.webp');
    }

    &:nth-of-type(2) {
      @include svg('./assets/tree/2.webp');
    }

    &:nth-of-type(3) {
      @include svg('./assets/tree/3.webp');
    }

    &:nth-of-type(4) {
      @include svg('./assets/tree/4.webp');
    }

    &:nth-of-type(5) {
      @include svg('./assets/tree/5.webp');
    }

    &:nth-of-type(6) {
      @include svg('./assets/tree/6.webp');
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      background-position: center;
      background-size: auto 50px;
    }
  }

  &--bg {
    max-width: 50px;
    min-height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:nth-of-type(1) {
      background-image: url('./assets/bg/11.jpg');
    }

    &:nth-of-type(2) {
      background-image: url('./assets/bg/21.jpg');
    }

    &:nth-of-type(3) {
      background-image: url('./assets/bg/31.jpg');
    }

    &:nth-of-type(4) {
      background-image: url('./assets/bg/41.jpg');
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  &--lights {
    max-width: 50px;
    min-height: 50px;

    &:nth-of-type(1) {
      background: linear-gradient(
        90deg,
        rgba(253, 215, 0, 1) 0%,
        rgba(8, 170, 5, 1) 25%,
        rgba(253, 0, 0, 1) 50%,
        rgba(39, 141, 159, 1) 100%
      );
    }

    &:nth-of-type(2) {
      background: $yellow;
    }

    &:nth-of-type(3) {
      background: $green;
    }

    &:nth-of-type(4) {
      background: $red;
    }

    &:nth-of-type(5) {
      background: $blue;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  &--toy {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: move;
    .toy-amount {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      font-size: 14px;
      color: $white;
      background-color: $red;
      border-radius: 5px;
    }
  }

  &--toggler {
    display: block;
    width: 50px;
    height: 20px;
    max-width: 55px;
    min-height: 26px;
    background-color: $white;
    border-radius: 45px;
    transform: translateY(50%);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background-color: $yellow;
      border-radius: 50%;
      transition: 0.5s;
    }

    &:hover {
      background-color: $white;
      transform: translateY(50%);
    }
  }
}

.active.btn--toggler {
  background-color: $blue;
  &:after {
    left: auto;
    right: 2px;
  }
}

.btn.btn--snow.active-btn,
.btn.btn--music.active-btn {
  filter: $filter-blue;
  backdrop-filter: none;
  background-color: transparent;
  &:hover {
    filter: $filter-blue;
    backdrop-filter: none;
  }
}
