@import '../helpers/variables';

.footer {
  padding: 10px 0;
  height: 70px;
  position: relative;
  z-index: 4;
  background-color: $dark-green;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
