.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item__link {
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.nav__item.active {
  color: $blue;
  pointer-events: none;

  .nav__item__link {
    pointer-events: none;
  }
}
