@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/mixins';

.main--toys {
  display: block;
  background-image: none;
}

.toys-page {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .noUi-target {
    max-width: 100%;
    height: 6px;
    box-shadow: none;
    border: none;
  }
  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -9px;
    box-shadow: none;
    border-radius: 50%;
    cursor: ew-resize;
  }

  .noUi-connect {
    background: $blue;
  }

  .noUi-handle:before,
  .noUi-handle:after {
    display: none;
  }
}
