@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoThin.ttf');
  font-weight: 100;
  display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoLight.ttf');
  font-weight: 300;
  display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoRegular.ttf');
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoMedium.ttf');
  font-weight: 500;
  display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoBold.ttf');
  font-weight: 700;
  display: swap;
}
