@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/mixins';

.main {
  max-width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg/41.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.start-page {
  &__wrapper {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include backdrop-filter-blur(31px);

    padding: 11%;
    margin: 20px;
    margin-bottom: 110px;
    font-size: 2.25rem;
    line-height: 3.75rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-radius: $border-radius;
    border: 2px solid $dark-green;
  }

  &__subtitle {
    display: block;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    text-align: center;
    text-transform: lowercase;
  }

  .btn {
    width: 100%;
    max-width: 300px;
    min-height: 54px;
    background-color: $dark-green;
    color: $white;
    border: 1px solid $dark-green;

    &:hover {
      transform: translateY(-5px);
      color: $white;
      border-color: $super-dark-blue;
    }

    &:active {
      background-color: $super-dark-blue;
      border-color: $super-dark-blue;
    }
  }
}
