@import '../../../../../../scss/helpers/variables';
@import '../../../../../../scss/helpers/mixins';

.shape__btn {
  margin: 4px 10px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  &--bell {
    @include svg('./assets/svg/bell.svg');
  }
  &--ball {
    @include svg('./assets/svg/ball.svg');
  }
  &--cone {
    @include svg('./assets/svg/cone.svg');
  }
  &--snowflake {
    @include svg('./assets/svg/snowflake.svg');
  }
  &--figure {
    @include svg('./assets/svg/toy.svg');
  }
  &:hover {
    transform: scale(1.15);
    filter: none;
  }
}
.color__btn {
  position: relative;
  margin: 0 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  &--white {
    background-color: $white;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--red {
    background-color: $red;
  }
  &--blue {
    background-color: $blue;
  }
  &--green {
    background-color: $green;
  }
  &:hover {
    transform: scale(1.15);
    filter: none;
  }
}
.size__btn {
  @include svg('./assets/svg/ball.svg');
  margin: 0 10px;
  cursor: pointer;
  background-size: contain;
  &--big {
    width: 50px;
    height: 50px;
  }
  &--medium {
    width: 40px;
    height: 40px;
  }
  &--small {
    width: 30px;
    height: 30px;
  }
  &:hover {
    transform: scale(1.15);
    filter: none;
  }
}
.filter--favorite {
  flex-wrap: nowrap;
  .filter__title {
    margin-bottom: 0;
    width: auto;
  }
}

.color__btn.active {
  filter: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 6px;
    height: 11px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.color__btn--white.active {
  &::after {
    filter: invert(1);
  }
}
.shape__btn.active,
.size__btn.active {
  filter: $filter-blue;
  &:hover {
    filter: $filter-blue;
  }
}

.filter__checkbox {
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background: $grey-bg;
    backdrop-filter: blur(31px);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $blue;
    }
  }
}

.filter__checkbox__input:checked + .filter__checkbox__label {
  background-color: $blue;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 6px;
    width: 6px;
    height: 11px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
